@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  height: fit-content;
  color: #ffffff;
  background-color: green;
  width: 100vw;
  padding-bottom: 5%;
}

#back{
  display: block;
}

#back button{
  background-color: rgb(0, 0, 0);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.3s;
  border: none;
}
#back button:hover{
  background-color: gold;
  width: 60px;
  border-radius: 50%;
}

#contain_home{
  padding-left: 5%;
  padding-right: 5%;
}

#contain_home p{
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#contain_home h2{
  margin-top: 10%;
}

.groups{
  background-color: #ffffff;
  color: #000;
  border-radius: 5px;
  width: 30vw;
  padding-bottom: 6%;
  margin-top: 0!important;
}

.group_name{
  background-color: rgb(0, 0, 0);
  color: #fff;
  margin: 0;
}

.all_groups{
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none; 
  margin-top: 5%;
}

.link_details{
  transition: all 0.3s;
}

.link_details:hover{
  color: gold;
}

header{
  background-color: #ffffff;
}

header nav{
  display: flex;
}

.nav_link{
  display: flex;
  padding-top: 0%;
}

.second_link{
  margin-left: 15%;
}

header nav ul{
  width: 30vw;
}

header nav ul h1{
  margin: 0;
  text-decoration: none;
}

header nav ul li{
  list-style-type: none;
  text-decoration: none;
  border-bottom: 1px solid #000;
  text-transform: capitalize;
  color: #000000;
  margin-top: 5%;
  height: 50%;
  transition: all 0.3s;
}
header nav ul li:hover{
  border-bottom: 1px solid gold;
  cursor: pointer;
}
header nav ul li:hover > a{
  color: gold!important;
}

header nav ul h1 a, header nav ul li a{
  color: #000000;
  transition: all 0.3s;
}

header nav ul h1 a:hover{
  color: gold;
}

.delGroup{
  background-color: rgb(236, 37, 37);

}

.btn{
  background-color: #000;
}



@media only screen and (max-width: 768px) {

  .container_back{
    width: 10vw;
  }

  header nav ul h1{
    font-size: 33px;
    margin-top: 5%;
  }

  header nav ul li a{
    font-size: 11px;
  }

  header nav ul li{
    border: none;
  }

  #back button{
    width: 40px;
    height: 40px;
  }

  .second_link{
    line-height: 1;
  }

  #contain_home p {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 15%;
    margin-bottom: 30%;
  }

  #contain_home h2 {
    margin-top: 15%;
  }

  #container{
    width: 70vw;
    margin-top: 15%;
    border-radius: 15px;
  }

  #formCreateGroup {
    height: 40vh;
    border-radius: 15px;
  }

  #formCreateGroup:nth-child(2){
    margin-top: 5%;
  }

  .btn_submit{
    margin-top: 15%;
  }

  .all_groups {
    width: 90vw;
    margin-top: 15%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .groups{
    width: 90vw;
    border-radius: 15px;
  }
}