@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  color: #ffffff;
  background-image: linear-gradient(135deg, rgb(238, 164, 255) 0%, rgb(160, 15, 188) 100%);
  width: 100vw;
  overflow-y: scroll;
}

#back{
  display: block;
}

#back button{
  background-color: gold;
  width: 60px;
}

#contain_home{
  padding-left: 5%;
  padding-right: 5%;
}

#contain_home p{
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#contain_home h2{
  margin-top: 10%;
}

.groups{
  background-color: #ffffff;
  color: #000;
  border-radius: 5px;
  width: 30vw;
  padding-bottom: 6%;
}

.group_name{
  background-color: rgb(172, 33, 206);
  color: #fff;
}

.all_groups{
  width: 30vw;
}

.link_details{
  color: gold;
}

.link_details:hover{
  color: rgb(172, 33, 206);
}

header{
  background-color: #000;
  padding: 1%;
}

header nav{
  display: flex;
}

.nav_link{
  display: flex;
  padding-top: 0%;
}

.second_link{
  margin-left: 15%;
}

header nav ul{
  width: 25vw;
}

header nav ul h1{
  margin: 0;
}

header nav ul li a{
  color: #fff;
  transition: all 0.3s;
}

header nav ul li a:hover{
  color: gold;
}

.container_back{
  text-align: left;
}